body {
    background: radial-gradient(
        .first-color { 

        circle at -8.9% 51.2%, 
    );
 } .first-color { 
	background: #fafafa; 
}
	
.second-color { 
	background: #ff347f; 
}

.third-color { 
	background: #c9356c; 
}

.fourth-color { 
	background: #f48db4; 
}